.button {
    color: white; padding: 15px; cursor: pointer;
}

* {
    cursor: url('image-removebg-preview (1).png'), auto;
}

html, body {
    margin: 0;          /* Remove default margin */
    padding: 5px;      /* Add padding around the page */
    min-height: 100%;   /* Ensure body takes up at least full height */
    box-sizing: border-box;  /* Ensure padding doesn't mess with the width */
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.button-container button {
    margin-right: 10px; /* Adjust the gap here */
    margin-bottom: 10px
}

html, body {
    height: 100%;  /* Ensure full page height */
    margin: 0;     /* Remove default margin */
    overflow: hidden;  /* Prevent scrollbars from causing issues */
}